<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">BitNinja Test</a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/">All Posts</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/posts/create">Create Post</a>
    </li>
  </ul>
  <span class="navbar-text ml-auto">
    by <a href="mailto:konyatamas01@gmail.com">Tamas Konya</a>
  </span>
</nav>
