<div class="d-flex justify-content-center" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="jumbotron" *ngIf="post && !loading">
  <h2 class="display-4">{{post.title}}</h2>
  <p class="lead">{{post.body}}</p>
  <hr class="my-4">
  <ng-container *ngIf="post.comments">
    <h4>Comments:</h4>
    <div class="card mb-2" *ngFor="let comment of post.comments">
      <div class="card-body">
        <h5 class="card-title">{{comment.name}}</h5>
        <a href="mailto:{{comment.email}}">
          <strong>{{comment.email}}</strong>
        </a>
        <p class="card-text">{{comment.body}}</p>
      </div>
    </div>
  </ng-container>
</div>
